[submodule "skylog-mobile"]
	path = skylog-mobile
	url = git@github.com:Animus-Surge/skylog-mobile.git
[submodule "skylog-backend"]
	path = skylog-backend
	url = git@github.com:Animus-Surge/skylog-backend.git
[submodule "skylog-landing"]
	path = skylog-landing
	url = git@github.com:Animus-Surge/skylog-landing.git
[submodule "skylog-web"]
	path = skylog-web
	url = git@github.com:Animus-Surge/skylog-web.git
[submodule "reports/hw9_report"]
	path = reports/hw9_report
	url = git@github.com:cmsc-vcu/cmsc427-sp2025-hw9-Animus-Surge.git
