[submodule "skylog-mobile"]
  path = skylog-mobile
  url = git@github.com:Animus-Surge/skylog-mobile.git
  branch = main
[submodule "skylog-backend"]
  path = skylog-backend
  url = git@github.com:Animus-Surge/skylog-backend.git
[submodule "skylog-landing"]
  path = skylog-landing
  url = git@github.com:Animus-Surge/skylog-landing.git
[submodule "skylog-web"]
  path = skylog-web
  url = git@github.com:Animus-Surge/skylog-web.git
[submodule "reports/hw9_report"]
  path = reports/hw9_report
  url = git@github.com:cmsc-vcu/cmsc427-sp2025-hw9-Animus-Surge.git
[submodule "reports/hw10_report"]
	path = reports/hw10_report
	url = git@github.com:cmsc-vcu/cmsc427-sp2025-hw10-Animus-Surge.git
[submodule "reports/hw11_report"]
	path = reports/hw11_report
	url = git@github.com:cmsc-vcu/cmsc427-sp2025-hw11-Animus-Surge.git
